<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FTS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>vn.edu.fpt.fts.api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAccount</display-name>
    <servlet-name>ControllerAccount</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.ControllerAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAccount</servlet-name>
    <url-pattern>/ControllerAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerCreateGoods</display-name>
    <servlet-name>ControllerCreateGoods</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.ControllerCreateGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerCreateGoods</servlet-name>
    <url-pattern>/ControllerCreateGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerManageGoods</display-name>
    <servlet-name>ControllerManageGoods</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.ControllerManageGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerManageGoods</servlet-name>
    <url-pattern>/ControllerManageGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerMakeDeal</display-name>
    <servlet-name>ControllerMakeDeal</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.ControllerMakeDeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerMakeDeal</servlet-name>
    <url-pattern>/ControllerMakeDeal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerManageOrder</display-name>
    <servlet-name>ControllerManageOrder</servlet-name>
    <servlet-class>vn.edu.fpt.fts.servlet.ControllerManageOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerManageOrder</servlet-name>
    <url-pattern>/ControllerManageOrder</url-pattern>
  </servlet-mapping>
  <listener>
        <listener-class>vn.edu.fpt.fts.servlet.ServletListener</listener-class>
    </listener>
</web-app>