<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.fpt.fts.fragment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <receiver android:name="vn.edu.fpt.fts.classes.AlarmReceiver" >
        </receiver>
        <receiver android:name="vn.edu.fpt.fts.classes.NotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBCbOIHDu78vJEOP8FgeSHChl9_R2PsUbc" />

        <activity
            android:name="vn.edu.fpt.fts.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.fragment.GoodsFragment"
            android:label="@string/title_activity_goods_fragment" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.fragment.TrackFragment"
            android:label="@string/title_activity_track_fragment" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.GoodsDetailActivity"
            android:label="@string/title_activity_goods_detail" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.CreateGoodsActivity"
            android:label="@string/title_activity_create_goods" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.fragment.InformationFragment"
            android:label="@string/title_activity_information_fragment" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.fragment.DealFragment"
            android:label="@string/title_activity_deal_fragment" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.SuggestActivity"
            android:label="@string/title_activity_suggest" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.fragment.CreateGoodsMapFragment"
            android:label="@string/title_activity_create_goods_map_fragment" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.SuggestDetailActivity"
            android:label="@string/title_activity_suggest_detail" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.DealDetailActivity"
            android:label="@string/title_activity_deal_detail" >
        </activity>
        <activity
            android:name="vn.edu.fpt.fts.activity.OrderDetailActivity"
            android:label="@string/title_activity_order_detail" >
        </activity>
    </application>

</manifest>